<footer class="text-center container-fluid fixed-bottom" style="background-color:#6f42c1 ">
   <div class="row">
        <div class="col-md-4 offset-md-4 text-right">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AboutUs"> About Us</a>       
        </div>
    </div>
</footer>